@using EntityLayer.Entities
@using PagedList
@using PagedList.Mvc
@model  PagedList.IPagedList<Message>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";


}
@{ 
    int count = 0;
}

<br />
<h3>Kurslar</h3>
<br />
<table class="table table-bordered table-hover">
    <tr>
        <th style="text-align:center;">#</th>
        <th style="text-align:center;">Ad Soyad</th>
        <th style="text-align:center;">Mail</th>
        <th style="text-align:center;">Konu</th>
        <th style="text-align:center;">Mesaj</th>
        <th style="text-align:center;">İşlemler</th>
        
    </tr>

    @foreach (var item in Model)
    {
        count++;

<tr>
    <th style="text-align:center;">@count</th>
    <td style="text-align:center;">@item.NameSurname</td>
    <td style="text-align:center;">@item.Email</td>
    <td style="text-align:center;">@item.Subject</td>
    <td style="text-align:center;">@(item.MessageContent.Length>35 ? item.MessageContent.Substring(0,35) :  item.MessageContent)</td>

    <td style="text-align:center;">
        <a href="/AdminContact/MessageDelete/@item.MessageId" class="btn btn-outline-danger delete-btn-delete" data-id="@item.MessageId" style="margin-right: 10px;"><i class="fas fa-trash"></i> Sil</a>
        <a href="/AdminCourse/EditCourse/@item.MessageId" class="btn btn-outline-info"><i class="fas fa-pencil-alt"></i> Okundu olarak İşaretle</a>
        <a href="/AdminContact/MessageDetails/@item.MessageId" class="btn btn-outline-success"><i class="fas fa-pencil-alt"></i> Mesaj Detayı</a>
        
    </td>
</tr>
    }
</table>

<a href="/AdminContact/MessageIsRead/" class="btn btn-outline-danger">Okunan Mesajlar</a>
@Html.PagedListPager((IPagedList)Model, p => Url.Action("Index", new { p }), new PagedListRenderOptions

{
LiElementClasses = new List<string>
{"page-link"}
})


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    // Sil butonuna tıklandığında SweetAlert ile onay kutusu göster
    document.querySelectorAll('.delete-btn-delete').forEach(button => {
        button.addEventListener('click', function (event) {
            event.preventDefault();
            const mesajId = this.getAttribute('data-id');

            Swal.fire({
                title: '<span style="font-size: 60%;">Silmek istediğinize emin misiniz?</span>',

                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Evet, sil!',
                cancelButtonText: 'İptal',
                customClass: {
                    popup: 'custom-popup-class'
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    // Silme işlemi gerçekleştir
                    Swal.fire(
                        '<span style="font-size: 65%;">Silme işlemi gerçekleşti!</span>',
                        '',
                        'success'
                    ).then(() => {
                        // Silme işlemi gerçekleştikten sonra controller'a yönlendir
                        window.location.href = '/AdminContact/MessageDelete/' + mesajId;
                    });
                }
            });
        });
    });
</script>

<style>
    .custom-popup-class {
        width: 30% !important;
    }

    .pagination-container {
        text-align: center;
        padding: 20px 0;
    }

        .pagination-container .pagination {
            display: inline-block;
        }

            .pagination-container .pagination li {
                display: inline;
                margin: 0 5px;
            }
</style>




