@model EntityLayer.Entities.Course
@{
    ViewBag.Title = "AddCourse";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<h2>Kurs Ekle</h2>

<form id="courseForm" method="post">

    @Html.HiddenFor(x=>x.CourseId, new {@class="form-control"})
    <label>Kurs Adı</label>
    @Html.TextBoxFor(x => x.CourseName, new { @class = "form-control" })
    <br />
    <label>İmage Url</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextAreaFor(x => x.Description,3,1, new { @class = "form-control" })
    <br />
    <label>Ücret</label>
    @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
    <br />
    <label>Kateogori Adı </label>
    @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.categories, new { @class = "form-control", id = "my-dropdown" })
    <br />
    <label>Eğitmen</label>
    @Html.DropDownListFor(x=>x.EducatorId, (List<SelectListItem>)ViewBag.teacherlist, new { @class = "form-control" })
    @Html.ValidationSummary()
    <br />
    <a href="" id="kaydetDugmesiekle1" class="btn btn-primary">Kaydet</a>

</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    $(document).ready(function () {
        $('#kaydetDugmesiekle1').click(function (e) {
            e.preventDefault(); // Varsayılan form gönderimini engelle

            // Form verilerini topla
            var formData = $('#courseForm').serialize();

            // Formu gönder
            $.post('@Url.Action("AddCourse", "AdminCourse")', formData)
            .done(function () {
                // Başarılı gönderim durumunda SweetAlert bildirimi göster
                swal({
                    title: "Başarılı!",
                    text: "Kayıt başarıyla yapıldı.",
                    icon: "success",
                    button: false // Ok butonunu gizle
                });

                // Belirli bir süre sonra yönlendirme yap
                setTimeout(function () {
                    window.location.href = '@Url.Action("Index", "AdminCourse")';
                }, 2000); // 2 saniye bekletme süresi
            })
            .fail(function () {
                // Hata durumunu ele al
                swal("Hata!", "Kayıt sırasında bir hata oluştu.", "error");
            });
        });
    });
</script>


